<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Create New Ticket</title>
</head>

<body>

	<div class="container">
	
		<div width="100%">
            <table width="100%" style="background-color: blue;" border="0">
                <tr>
                    <td width="25%"><a href="#" style="color: white;"> Ticket Tracker Application </a> </td>
                    <td width="15%"><a href="@{/tickets/search}" style="color: white;"> Tickets </a></td>
                    <td width="60%"> New Ticket</td>
                </tr>    
            </table>
            
            </div> 
		<hr>
		
	<p class="h4 mb-4">Create Ticket </p>
    
    <div class="container"  width="75%"  align="center">
        <table  class="table table-bordered table-striped">

            <tr> <td width="">&nbsp;</td> <td>Title </td></tr>
            <tr> <td><input type="text" name="title" value=""/> </td></tr>
            <tr> <td>Short Description </td></tr>
            <tr> <td><input type="text" name="description" value=""/> </td></tr>
            <tr> <td>Title </td></tr>
            <tr> <td><input type="textarea" name="content" >  </textarea></td></tr>
            <tr> <td><input type="submit" class="btn btn-info btn-sm ml-3 mr-1" value="Submit" />  </td></tr>
        </table>
    </div>

		<hr>


		
	</div>
</body>

</html>










